<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url("/public/img/bg.png");
            background-color: #81abbb;
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100vh;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .nav div {
            padding: 25px;
        }

        .signinbtn {
            margin: 0px 5px 0px 5px;
            display: inline-block;
            background-color: transparent;
            border: solid #fff 2px;
            text-decoration: none;
            color: white;
            padding: 5px 30px 8px 30px;
            border-radius: 25px;
        }

        .signupbtn {
            margin: 0px 50px 0px 5px;
            display: inline-block;
            background-color: white;
            border: solid #fff 2px;
            text-decoration: none;
            color: #81abbb;
            padding: 5px 30px 8px 30px;
            border-radius: 25px;
            font-weight: 700;
        }

        .ouadif {
            margin: 50px 160px 0 130px;
            width: 600px;
            text-align: left;
            text-align: justify;
            color: #444;
            font-weight: 500;
        }

        .focal {
            margin: 0px 130px;
            height: fit-content;
        }

        .logux {
            margin-left: 30px;
            height: 100px;
        }

        .footer {
            background-color: #105f7f;
            font-size: small;
            color: #FFF;
            text-align: center;
            height: 20px;
            width: 100%;
            margin: 0;
            position: fixed;
            bottom: 0;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="row nav">
            <img class="logux" src="/public/img/logo2.png" alt="LOGO">
            <div>
                <a class="signinbtn" type="button" href="/login">Sign In</a>
                <a class="signupbtn" type="button" href="/register">Sign Up</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="ouadif">
            <p>
                Le stage et le projet constituent une étape importante et essentielle dans le parcours de la formation.
                <br>Ils permettent de se familiariser avec l’univers professionnel et d’y mettre en pratique les
                connaissances théoriques acquises lors de la formation.
                <br>Ils permettent aussi de découvrir les métiers professionnels, d'acquérir des compétences
                professionnelles d'orienter sa spécialisation, de préparer éventuellement son insertion professionnelle
                et de voir les capacités de l’étudiant à mener un projet jusqu’au bout.
                <br>Nous offrons ici un moyen, aux étudiants de l'USTHB, de trouver <strong>le</strong> stage qui leur
                correspond, et aux entreprises de choisir le meilleur stagiaire.
                <br>Connecte-toi ou crée-toi un compte afin d'accéder au site !
            </p>
        </div>
        <div class="focal">
            <a class="signupbtn" type="button" href="/login">Se connecter</a>
        </div>

    </main>
    <footer>
        <p class="footer">Copyright @ 2021 - Observatoire USTHB </p>
    </footer>
</body>

</html>