<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url("/public/img/bgimageSI.png");
            background-color: #81abbb;
            background-position: right;
            background-repeat: no-repeat;
            height: 95vh;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .signinbtn {
            margin: 25px 5px 25px 5px;
            display: inline-block;
            background-color: transparent;
            border: solid #fff 2px;
            text-decoration: none;
            color: white;
            padding: 5px 30px 8px 30px;
            border-radius: 25px;
        }

        .signupbtn {
            margin: 25px 50px 25px 5px;
            display: inline-block;
            background-color: white;
            border: solid #fff 2px;
            text-decoration: none;
            color: #81abbb;
            padding: 5px 30px 8px 30px;
            border-radius: 25px;
            font-weight: 700;
        }

        .ouadif {
            font-family: cursive;
            font-size: 20px;
            margin: 80px 140px 0 140px;
            width: 600px;
            text-align: center;
        }

        .focal {
            margin: 10px 140px 0 160px;
            width: 600px;
            text-align: center;
        }

        .logux {
            margin-left: 30px;
            height: 100px;
        }

        .icones {
            position: fixed;
            height: 50px;
        }
    </style>
    <title>Accueil</title>
</head>

<body>

    <nav>
        <div class="row">
            <img class="logux" src="/public/img/logux.png" alt="LOGO">
            <div>
                <a class="signinbtn" type="button" href="/login">Sign In</a>
                <a class="signupbtn" type="button" href="/register">Sign Up</a>
            </div>
        </div>
    </nav>
    <main>
        <img class="icones" src="/public/img/atome.png" alt="">
        <div class="ouadif">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis pariatur fuga quasi
                consequatur iste esse
                commodi, est at ad enim recusandae quos vero soluta numquam dignissimos iusto illum, quis dolorem eos
                sed
                magni facere nemo! Distinctio architecto voluptates, pariatur ipsum expedita veritatis eaque est vel eum
                aliquam, ex nulla similique, quasi error exercitationem repellat magni obcaecati corrupti quaerat.
                Laborum,
                repellendus!</p>
        </div>
        <div class="focal">
            <a class="signupbtn" type="button" href="/">Sign Up</a>
        </div>

    </main>
</body>

</html>