<!-- Cette page sera visible par 
    le pilote
    l'admin -->

<nav id="sidebar">
    <ul class="list-unstyled components">
        <p>Mes actions</p>
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">News
                Letters</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/metier">Afficher toutes</a>
                </li>
                <li>
                    <a href="#">Créer une nouvelle</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/offre">Offres</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Entreprises</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/entreprise">Afficher toutes</a>
                </li>
                <li>
                    <a href="#">Créer une nouvelle</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/etudiant">Etudiants</a>
        </li>
        <li>
            <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pilotes</a>
            <ul class="collapse list-unstyled" id="page2Submenu">
                <li>
                    <a href="/pilote">Afficher toutes</a>
                </li>
                <li>
                    <a href="#">Créer une nouvelle</a>
                </li>
            </ul>
        </li>
    </ul>


</nav>