body{
    background-color: white;
}
.illus .human{
    width: 65%;
    margin: 30% 20%;
}
.registration-form{
	padding: 50px 0;
}
.registration-form .titre{
    text-align: center;
    margin-bottom: 30px;
    color: #105F7F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.registration-form form{
    background-color: #fff;
    margin-top: 10%;
    max-width: 600px;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.registration-form .form-icon{
	text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.form-icon img{
    width: 100px;
}
.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}
.registration-form textarea{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    resize: none;
    margin-bottom: 25px;
}

.registration-form .create-company{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #105F7F;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .zyada{
    max-width: 600px;
    background-color: #fff;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) and (max-width: 992px){
    .illus .human{
        display: block;
        margin: auto;
        width: 75%;
    }
    .registration-form form{
        margin: auto;
    }
}
@media (max-width: 576px) {
    .zyada{
        margin-left:0;
    }
    .registration-form form, .zyada{
        margin-left: 0;
        margin-right: auto;
        display: block;
        padding: 50px 20px;
        border-radius: 0%;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
    .illus .human{
       display: none;
    }

}