<!-- Cette page sera visible par 
    l'étudiant
    le pilote
    l'admin -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/newsletter.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <title>Acceuil principal</title>
</head>

<body>

    <%- include ../layouts/header.ejs %>

        <div class="fancy row">
            <div class="col-md-6 catch">
                <p>Nous te <strong>présentons</strong> un large<br>panel de <strong>métiers</strong> en rapport
                    avec<br>ta
                    <strong>spécialité</strong> afin que tu puisse avoir<br>une idée des <strong>débouchés
                        professionnels</strong> qui s'offrent à toi
                </p>
                <div class="suite">
                    <a href="#metiers" class="suitebtn">Voir tous <i id="anim" class="fa fa-angle-double-down"
                            aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-6 humans">
                <img class="humans" src="./static/img/Humaaans3Characters.png" alt="">
            </div>
        </div>
        <div id="metiers">
            <h1 class="cards">Les métiers de l'informatique</h1>
            <ul class="job-cards">
                <li class="job-card"
                    style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
                    <div class="detail-container">
                        <div class="content">
                            <button class="btn">Détails</button>
                        </div>
                    </div>
                    <div class="informations-container">
                        <h2 class="title">Je suis un Métier</h2>
                        <div class="more-information">
                            <p class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                                quibusdam
                                impedit similique blanditiis doloribus a facilis odit ipsam temporibus soluta
                                consequuntur,
                                officiis nisi sapiente ducimus, maiores, veritatis sint! Fugiat fuga aut error
                                cupiditate
                                fugit, saepe reprehenderit at velit, pariatur, esse suscipit officia laborum totam enim!
                                Culpa, enim! Eum quod tempore ducimus vel quidem autem eaque suscipit doloremque. Iure
                                quaerat obcaecati temporibus odit sapiente in numquam deleniti, nulla dolorem rerum nam
                                id
                                voluptas amet facilis molestiae libero porro maxime ratione tempora pariatur dolore?
                                Quasi
                                modi autem veritatis quaerat totam nesciunt porro.</p>
                        </div>
                    </div>
                </li>

                <li class="job-card"
                    style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
                    <div class="detail-container">
                        <div class="content">
                            <button class="btn">Détails</button>
                        </div>
                    </div>
                    <div class="informations-container">
                        <h2 class="title">Je suis un Métier</h2>
                        <div class="more-information">
                            <p class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                                illum,
                                perferendis, sed error eos dignissimos quia minima qui quam molestias temporibus
                                ducimus,
                                necessitatibus magni voluptatibus voluptatum quisquam aspernatur reprehenderit dolorem
                                voluptate architecto earum. Possimus nisi voluptates explicabo perspiciatis perferendis
                                inventore tempore, veniam et qui facilis corrupti deserunt hic ipsam corporis odio quos
                                placeat modi. Eius aut fugit nisi recusandae, molestiae provident labore minus ab fuga
                                quibusdam, optio a non exercitationem, minima rem nulla pariatur veritatis. Dolorum
                                iusto
                                tenetur excepturi delectus nemo quia at ducimus, fugit quas veritatis nesciunt
                                doloremque
                                harum rerum est ipsum aliquid minima!</p>
                        </div>
                    </div>
                </li>

                <li class="job-card"
                    style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
                    <div class="detail-container">
                        <div class="content">
                            <button class="btn">Détails</button>
                        </div>
                    </div>
                    <div class="informations-container">
                        <h2 class="title">Je suis un Métier</h2>
                        <div class="more-information">
                            <p class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit expedita
                                sint qui sunt sequi vero molestiae nihil, dolorem cupiditate illum ullam quos voluptatem
                                eveniet pariatur id veniam voluptate reprehenderit! Iste, repellendus placeat tenetur
                                totam
                                quod tempora laborum id? Consequuntur voluptas, illo molestias exercitationem doloribus
                                dolore libero voluptatem quaerat aspernatur explicabo nulla quae assumenda laboriosam
                                facere
                                optio repudiandae iusto! Totam quas optio eveniet, fugiat delectus veritatis commodi
                                illo
                                alias modi a corrupti sapiente ad assumenda neque laborum harum, inventore, consequatur
                                deleniti aperiam nemo quisquam temporibus ex. Tempora quisquam, suscipit expedita vel
                                sed
                                repellendus et rem dolorem sunt sequi. Repellendus, quos sunt?</p>
                        </div>
                    </div>
                </li>

                <li class="job-card"
                    style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
                    <div class="detail-container">
                        <div class="content">
                            <button class="btn">Détails</button>
                        </div>
                    </div>
                    <div class="informations-container">
                        <h2 class="title">Je suis un Métier</h2>
                        <div class="more-information">
                            <p class="disclaimer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
                                quas
                                atque distinctio ea, eveniet quae tempora accusantium blanditiis sint esse natus non
                                quos
                                suscipit recusandae corporis illo sit sunt. Repudiandae commodi esse fugit ducimus,
                                maxime
                                ad iure odio, soluta doloribus porro culpa recusandae voluptates quo eaque reiciendis ut
                                beatae neque pariatur doloremque id hic sed! Accusamus, rerum. Unde quibusdam distinctio
                                eaque ullam rerum iure totam, impedit debitis natus! Dignissimos adipisci omnis tempore
                                esse
                                animi ex placeat, illo architecto, minus autem nisi dicta tenetur quod asperiores est
                                molestiae nihil maxime vel sit ipsum laudantium commodi neque illum? Temporibus
                                quibusdam
                                minus expedita sunt, laboriosam reiciendis impedit totam in fuga aliquid nemo id!</p>
                        </div>
                    </div>
                </li>

                <li class="job-card"
                    style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
                    <div class="detail-container">
                        <div class="content">
                            <button class="btn">Détails</button>
                        </div>
                    </div>
                    <div class="informations-container">
                        <h2 class="title">Je suis un Métier</h2>
                        <div class="more-information">
                            <p class="disclaimer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
                                quod
                                vel veritatis debitis. Dignissimos, ducimus recusandae. Cupiditate eligendi tenetur
                                accusantium, voluptatum quam laudantium sequi temporibus deleniti aliquid porro cum
                                explicabo, aut nesciunt officiis quas vero veritatis vel praesentium odio quasi facere
                                mollitia. Minima labore delectus neque! Ipsa ipsum unde architecto excepturi qui iusto
                                vitae
                                et exercitationem fugiat numquam dicta quisquam animi, iure necessitatibus. Doloribus
                                velit
                                provident quisquam, quam cum ipsam fuga corporis ullam fugit voluptatem repellat
                                praesentium
                                alias commodi sit maxime iusto minima ex enim soluta ut repudiandae consequatur iure
                                quis.
                                Iste ratione exercitationem voluptatem animi assumenda! Veniam, quibusdam harum.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <%- include ../layouts/footer.ejs %>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>