<!-- Cette page sera visible par 
    le pilote
    l'admin -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/sidenav.css">
    <link rel="stylesheet" href="/public/css/AllEntreprises.css">
    <title>Document</title>
</head>

<body>

    <%- include('../layouts/header.ejs') %>

        <div class="wrapper">
            <!-- Sidebar  -->

            <%- include('../layouts/verticalNav.ejs') %>


                <!-- Page Content  -->

                <div class="database col-12">
                    <h2>Entreprises</h2>

                    <section class="search-sec">
                        <div class="container">
                            <form action="#" method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <input type="text" class="form-control search-slt"
                                                    placeholder="Raison sociale">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <select class="form-control search-slt" id="Secteur_activite">
                                                    <option>Secteur d'activité</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <select class="form-control search-slt" id="localite">
                                                    <option>Ville</option>

                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <button type="button" class="btn wrn-btn">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <ul class="responsive-table">
                        <li class="table-header">
                            <div class="col-1"></div>
                            <div class="col-2">Raison Sociale</div>
                            <div class="col-3">Secteur d'Activité</div>
                            <div class="col-3">Adresse</div>
                            <div class="col-2">Site Internet</div>
                            <div class="col-1"></div>
                        </li>
                        <div id="card-body">

                        </div>
                    </ul>
                </div>

        </div>

        <%- include ('../layouts/footer.ejs') %>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

            <script>
                var entreprise = new Array()
                var localite = new Array()
                const card = (r) => {
                    return `
                    <li class="table-row">
                            <div class="col-1" data-label="LOGO"><img width="50px" src="${r.Logo}"
                                    alt="">
                            </div>
                            <div class="col-2" data-label="Raison Sociale">${r.Raison_social}</div>
                            <div class="col-3" data-label="Secteur d'Activité">${r.Secteur_activite}</div>
                            <div class="col-3" data-label="Adresse">${r.Localite}</div>
                            <div class="col-2" data-label="Site Internet"><a class="siteLink" href='${r.Site_web}' target='_blank'>ici</a></div>
                            <div class="col col-1 icons">
                                <button class="ent modify"><i class="fa fa-pencil" data-toggle='modifier' data-target="${r.Id_entreprise}" aria-hidden="true"></i></button>
                                <button class="ent bin"><i class="fa fa-trash-o" data-toggle='supprimer' data-target="${r.Id_entreprise}" aria-hidden="true"></i></button>
                            </div>
                    </li>
                `}
                const getEntreprise = () => {
                    let xhr = new XMLHttpRequest()
                    xhr.open('get', 'entreprise?json=true')
                    xhr.responseType = 'json'
                    xhr.onload = () => {
                        entreprise = xhr.response
                        $('#card-body').html(entreprise.map(element => {
                            return card(element)
                        }).join(''))
                        localite = entreprise.map((e) => { return e.Localite })
                        $('#localite').html(`
                        <option>Ville</option>
                        ${localite.map((e) => { return `<option value="${e}">${e}</option>` }).join('')}
                        `)
                        Secteur_activite = entreprise.map((f) => { return f.Secteur_activite })
                        $('#Secteur_activite').html(`
                        <option>Secteur d'activité</option>
                        ${Secteur_activite.map((f) => { return `<option value="${f}">${f}</option>` }).join('')}
                        `)

                    }
                    xhr.send()
                }
                const filtre = () => {
                    let v = $('#localite').val()
                    entreprise = entreprise.filter((e) => { return e.Localite == v })
                    $('#card-body').html(entreprise.map(element => {
                        return card(element)
                    }).join(''))
                    let w = $('#Secteur_activite').val()
                    entreprise = entreprise.filter((f) => { return f.Secteur_activite == w })
                    $('#card-body').html(entreprise.map(element => {
                        return card(element)
                    }).join(''))
                }
                getEntreprise()
            </script>

</body>

</html>