<!-- Cette page sera visible par 
    l'entreprise -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulaire offre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
</head>

<body>

    <%- include ../layouts/header.ejs %>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 illus">
                    <img class="human" src="static/img/create.png" alt="">
                </div>
                <div class="col-lg-6 col-sm-12 registration-form">
                    <form>
                        <div class="titre">
                            <h1>Creation offre</h1>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control item" id="titre" placeholder="Titre de l'offre"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control item" id="duree"
                                placeholder="Durée du stage (en semaine)" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control item" id="baserenum"
                                placeholder="Base de rémunération">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control item" id="nbplaces"
                                placeholder="Nombre de places disponible" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" id="description" rows="5"
                                placeholder="Description..." required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block create-company">Créer une offre</button>
                        </div>
                    </form>
                    <div class="zyada">
                        <h5>Une nouvelle offre disponible !</h5>
                    </div>
                </div>
            </div>
        </div>

        <%- include ../layouts/footer.ejs %>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>