<!-- Cette page sera visible par 
    l'étudiant
    l'entreprise
    le pilote
    l'admin -->

<nav class="row navbar">
    <div>
        <img class="logo" src="/public/img/logo2.png" alt="LOGO">
    </div>
    <div class="dropdown show">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><span class="info-span">Nom Prénom</span>
            <img width='40px' height='40px' src="/public/img/user.png"
                class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <div class="info">
                <img width='40px' height='40px' src="/public/img/user.png"
                    class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
                <br>
                <span>Nom Prénom</span>
                <br>
            </div>
            <div class="detail">
                <table>
                    <tr>
                        <td class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
                        <td><span>monmail@gmail.com</span></td>
                    </tr>
                    <tr>
                        <td class="icone"><i class="fa fa-barcode" aria-hidden="true"></i></td>
                        <td><span>157758710025</span></td>
                    </tr>
                    <tr>
                        <td class="icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i></td>
                        <td><span>L2</span></td>
                    </tr>
                    <tr>
                        <td class="icone"><i class="fa fa-university" aria-hidden="true"></i></td>
                        <td><span>Faculté d'électronique</span></td>
                    </tr>
                    <tr>
                        <td class="icone"><i class="fa fa-bookmark-o" aria-hidden="true"></i></td>
                        <td><span>Nom de la spécialité</span></td>
                    </tr>
                </table>
            </div>
            <div class="logout">
                <a class="dropdown-item" href="login.html">Déconnexion<i class="fa fa-sign-out icone"
                        aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</nav>