<!-- Cette page sera visible par 
    l'entreprise
    le pilote
    l'admin -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/sidenav.css">
    <link rel="stylesheet" href="/public/css/AllEtudiants.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/logo.png">
    <title>Liste des étudiants</title>
</head>

<body>

    <%- include ('../layouts/header.ejs') %>
        <main>

            <div style="height: 10vh;" class="row"></div>
            <div class="viewoffres">
                <a href="/offre" class="viewoffresbtn">Ajouter une nouvelle offre</a>
            </div>
            <!-- Page Content  -->
            <div class="database col-12" style="padding: 10px 50px;">
                <section class="search-sec">
                    <div class="container">
                        <form action="#" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <input type="text" class="form-control search-slt" id="nom"
                                                placeholder="Nom">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <input type="text" class="form-control search-slt" id="prenom"
                                                placeholder="Prénom">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control search-slt" id="faculte">
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <button type="button" onclick="getEtudiant()"
                                                class="btn wrn-btn">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

                <h2>Etudiants ayant postulé à mes offres</h2>
                <div class="grid pb-5">
                    <div class="grid-item">
                        <div class="card">
                            <div class="info">
                                <img width='60px' height='60px' src="/public/img/user.png"
                                    class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
                                <br>
                                <span>Nom Prénom</span>
                                <br>
                            </div>
                            <div class="detail">
                                <table>
                                    <tr>
                                        <td class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>monmail@gmail.com</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-barcode" aria-hidden="true"></i></td>
                                        <td><span>157758710025</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        </td>
                                        <td><span>L2</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-university" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Faculté d'électronique</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Nom de la spécialité</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="info">
                                <img width='60px' height='60px' src="/public/img/user.png"
                                    class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
                                <br>
                                <span>Nom Prénom</span>
                                <br>
                            </div>
                            <div class="detail">
                                <table>
                                    <tr>
                                        <td class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>monmail@gmail.com</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-barcode" aria-hidden="true"></i></td>
                                        <td><span>157758710025</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        </td>
                                        <td><span>L2</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-university" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Faculté d'électronique</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Nom de la spécialité</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <div class="info">
                                <img width='60px' height='60px' src="/public/img/user.png"
                                    class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
                                <br>
                                <span>Nom Prénom</span>
                                <br>
                            </div>
                            <div class="detail">
                                <table>
                                    <tr>
                                        <td class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>monmail@gmail.com</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-barcode" aria-hidden="true"></i></td>
                                        <td><span>157758710025</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        </td>
                                        <td><span>L2</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-university" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Faculté d'électronique</span></td>
                                    </tr>
                                    <tr>
                                        <td class="icone"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        </td>
                                        <td><span>Nom de la spécialité</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Etudiants</h2>
                <div class="grid" id="card-body">



                </div>



            </div>
            <button onclick="topFunction()" class="btn scrollUp" id="myBtn" title="Go to top">Haut de la
                page</button>
        </main>
        <%- include ('../layouts/footer.ejs') %>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

            <script>
                const card = (r) => {
                    return `
                        <div class="grid-item">
                                <div class="card">
                                    <div class="info">
                                        <img width='60px' height='60px' src="/public/img/user.png"
                                            class="img-thumbnail rounded-circle navbar-brand pdp" alt="User">
                                        <br>
                                        <a class="lien" href="/etudiant/${r.Id_etudold}"
                                                    title="Voir le profile de l'étudiant"><span>${r.Nom} ${r.Prenom}</span></a>
                                        <br>
                                    </div>
                                    <div class="detail">
                                        <table>
                                            <tr>
                                                <td class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
                                                <td><span>${r.Email}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="icone"><i class="fa fa-barcode" aria-hidden="true"></i></td>
                                                <td><span>${r.Matricule}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="icone"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                </td>
                                                <td><span>${r.Annee_etude}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="icone"><i class="fa fa-university" aria-hidden="true"></i></td>
                                                <td><span>${r.faculte.Nom}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="icone"><i class="fa fa-bookmark-o" aria-hidden="true"></i></td>
                                                <td><span>${r.Specialite}</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    `}
                const getEtudiant = () => {
                    let nom = $('#nom').val()
                    let prenom = $('#prenom').val()
                    let fac = $("#faculte").val()
                    console.log(nom, prenom, fac)
                    let xhr = new XMLHttpRequest()
                    xhr.open('get', 'etudiant?json=true')
                    xhr.responseType = 'json'
                    xhr.onload = () => {
                        let etudiant = xhr.response
                        console.log(etudiant.length)
                        etudiant = etudiant.filter((e) => {
                            let n = true;
                            let p = true;
                            let f = true;
                            if (nom) n = new RegExp(nom).test(e.Nom)
                            if (prenom) p = new RegExp(prenom).test(e.Prenom)
                            if (fac) f = new RegExp("^" + fac + "$").test(e.Faculte)
                            return n & p & f
                        })
                        console.log(etudiant.length)
                        $('#card-body').html(etudiant.map(element => {
                            return card(element)
                        }).join(''))

                    }
                    xhr.send()
                }
                const getfaculte = () => {
                    let xhr = new XMLHttpRequest()
                    xhr.open('get', '/faculte?json=true')
                    xhr.responseType = 'json'
                    xhr.onload = () => {
                        faculte = xhr.response
                        $('#faculte').html(`
                            <option value="">Choisir une Faculté</option>
                            
                            ${faculte.map((e) => { return `<option value="${e.Id_faculte}">${e.Nom}</option>` }).join('')}
                            `)
                    }
                    xhr.send()
                }
                getfaculte()
                getEtudiant()



                //ScrollToTop button
                //Get the button
                var mybutton = document.getElementById("myBtn");

                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () { scrollFunction() };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        mybutton.style.display = "block";
                    } else {
                        mybutton.style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }

            </script>

</body>

</html>